* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
  font-style: normal;
}

body {
  display: flex;
  justify-content: center;
  background-color: #E5E5E5;
}

container {
  width: 687px;
  background-color: #FFFFFF;
}

/* header - inicio */
header {
  display: flex;
  justify-content: space-between;
  width: 100;  
  height: 49px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

.logoSlogan {
  display: flex;
}

.logo {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: #777777;
  margin-top: 8px;
  margin-left: 44px;
  margin-bottom: 16px;
}

.slogan{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  color: #AAAAAA;
  margin-top: 13px;
  margin-left: 10px;
  margin-bottom: 14px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  margin-left: 31px;
}

a {
  text-decoration: none;
}

.menu {
  background-color: #AAAAAA;
  width: 20px;
  height: 2px;
  margin-bottom: 4px;
  border-radius: 30px;
  margin-left: 31px;
}

/* header - termino */

/* main - inicio  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.carrossel {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;  
  background-image: url(../img/carrossel.svg);
  background-position: center;
  background-size: cover;
  position: relative;
  width: 608px;
  height: 259px;

  /* max-width: 608px; */

}

.carrossel img {
  /* width: 100%;
  object-fit: contain;  */
  /* background-position: center; 
  background-size: cover;  */

}

/* main - termino */

/* ofertas - inicio  */

.ofertas {
  display: flex;
  justify-content: space-between;
  width: 608px;
  height: 242px;
}

.ofertas .ofertaEsquerda .ofertaDireita {
  display: flex;
  flex-direction: column;
}

.ofertas .ofertaEsquerda {
  width: 256px;
  height: 144px;
}

.ofertas .ofertaDireita {
  width: 256px;
  height: 144px;
}

.detalhesOferta {
  text-align: justify;
  font-size: 10px;
  margin-bottom: 10px;
}

.detalheOfertaValorBotao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detalhesOferta .valorOferta {
  font-size: 25px;
  color: #888888;
}

.detalhesOferta .botaoOfertaNew {
  font-size: 20px;
  width: 56px;
  height: 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background: #51d275;
  border-radius: 10.5px;
  text-align: center;
  border: none;
  cursor: pointer;  
}

.detalhesOferta .botaoOfertaSales {
  font-size: 20px;
  width: 56px;
  height: 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  background: #DC9730;
  border-radius: 10.5px;
  text-align: center;
  border: none;
  cursor: pointer;  
}

.descricaoOferta {
  margin-top: 10px;
}

/* ofertas - termino  */

/* your style - inicio  */

/* .yourStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.yourStyle h2 {
  color: #888888;
  font-size: 25px;
}

.yourStyleIndustrial {
  background-color: blue;
  width: 608px;
  height: 80px;
  text-align: center;
  color: #FFFFFF;
}

.yourStyle .yourStyleModern {
  background-color: antiquewhite;
  width: 100%;
  height: 80px;
}

.yourStyle .yourStyleClassic {
  width: 100%;
  height: 80px;
}



.yourStyle {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 608px;
  margin: 30px;
}

.yourStyle .yourStyleTitulo {
  font-size: 2em;
  color: #888888;
  margin-bottom: 13px;
}

.yourStyle .yourStyleIndustrial {
  margin-top: 13px;
  max-width: 697px;
  width: 100%;
  opacity: 0.5;
  height: 80px;
  color: #fff;
  background-image: url("../img/yourStyleIndustrial.svg");
  background-size: cover;
  background-position: center;
} */


.your-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 608px;
  margin: 30px;
}

.your-style .titulo {
  font-size: 2em;
  color: #888888;
  margin-bottom: 13px;
}

.industrial {
  margin-top: 13px;
  max-width: 697px;
  width: 100%;
  opacity: 0.5;
  height: 80px;
  color: #fff;
  background-image: url(../img/yourStyleIndustrial.svg);
  background-size: cover;
  background-position: center;
}

.industrial span {
  position: relative;
  top: 30%;
  left: 45%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}

.modern {
  margin-top: 13px;
  max-width: 697px;
  width: 100%;
  opacity: 0.5;
  height: 80px;
  color: #fff;
  background-image: url(../img/yourStyleModern.svg);
  background-size: cover;
  background-position: center;
}

.modern span {
  position: relative;
  top: 30%;
  left: 45%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}

.classic {
  margin-top: 13px;
  max-width: 697px;
  width: 100%;
  opacity: 0.5;
  height: 80px;
  color: #fff;
  background-image: url(../img/yourStyleClassic.svg);
  background-size: cover;
  background-position: center;
}

.classic span {
  position: relative;
  top: 30%;
  left: 45%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}


/* your style - termino  */

/* footer - inicio  */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #333333;
  color: #FFFFFF;
  font-size: 12px;
  height: 243px;
}
footer ul li{
  list-style: none;
}

.mapa {
  /* background-color: red; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-content: flex-start; */
  background-image: url(../img/mapa.svg);
  /* background-position: center;
  background-size: cover; */
  width: 252px;
  height: 163px;
  margin: 40px;
  /* border-radius: 1px; */
}

.dados-endereco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  margin: 20px;
}

.dados-endereco ul li {
  text-decoration: none;
}
.contatos {
  background-color: lightcoral;
}
/* footer - inicio  */


/**
  *   mobile
  */

@media (max-width: 768px) {
  .logo {
    font-size: 10px;
  }

}
