/* variaveis */
:root {
  --largura-padrao: 900px;

  --container-cor-fundo: #FFFFFF;
  
  --header-altura: 49px;
  --header-cor-logo: #777777;
  --header-cor-slogan: #AAAAAA;

  --main-ofertas-cor-fundo: #EEEEEE;
  --main-ofertas-cor-texto-botao: #FFFFFF;
  --main-ofertas-cor-botao-new: #51d275;
  --main-ofertas-cor-botao-sale: #DC9730;

  --footer-cor-fundo: #333333;
  --footer-cor-texto: #FFFFFF;

}
/* variaveis */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ropa Sans', sans-serif;
  font-style: normal;
  list-style: none;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--container-cor-fundo);
}


/* container - inicio */
container {
  background-color: var(--container-cor-fundo);
  width: var(--largura-padrao);
}
/* container - termino */

/* header - inicio */
header {
  display: flex;
  justify-content: space-between;
  width: 100;  
  height: 49px;
  background-color: var(--cor-fundo-principal);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--largura-padrao);
  height: var(--header-altura);
}

header nav .marca {
  display: flex;
  align-items: center;
}

header nav .marca .logo {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 32px;
  color: var(--header-cor-logo);
  margin-top: 8px;
  margin-left: 44px;
  margin-bottom: 16px;
}

header nav .marca .slogan{
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 10px;
  color: var(--header-cor-slogan);
  margin-top: 13px;
  margin-left: 10px;
  margin-bottom: 14px;
}

header nav .menu{
  margin-right: 10px;
}
.linhaMenu {
  background-color: #AAAAAA;
  width: 20px;
  height: 2px;
  border-radius: 30px;
  margin-bottom: 4px;
  margin-left: 31px;
}

/* header - termino */

/* main - inicio */

main {
  margin: 20px 10px 20px 44px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main .carrossel {
  padding-bottom: 10px;
  height: 259px;
  width: 100%;
  background-image: url(../img/carrossel.svg);
  background-position: center;
  background-size: cover;
  position: relative;


}

.prev {
  position: absolute;
  top: 50%;
  left: 10px;
  cursor: pointer;
  color: #fff;
}

.next {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  color: #fff;
}


/* main ofertas - inicio */
.ofertas {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}

.ofertaEsquerda, .ofertaDireita {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: auto;
}

.detalhesOferta {
  text-align: justify;
  font-size: 10px;
}

.detalheOfertaValorBotao {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.valorOferta {
  font-size: 25px;
  color: #888888;
}

.botaoOfertaNew {
  font-size: 20px;
  width: 56px;
  height: 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--main-ofertas-cor-texto-botao);
  background: var(--main-ofertas-cor-botao-new);
  border-radius: 10.5px;
  text-align: center;
  border: none;
  cursor: pointer;  
}

.botaoOfertaSale {
  font-size: 20px;
  width: 56px;
  height: 21px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--main-ofertas-cor-texto-botao);
  background: var(--main-ofertas-cor-botao-sale);
  border-radius: 10.5px;
  text-align: center;
  border: none;
  cursor: pointer;  
}

/* main ofertas - termino */

/* your style - inicio  */

.yourStyle {
  display: flex;
  flex-direction: column;
  max-width: var(--largura-padrao);
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
} 

.titulo {
  font-size: 2em;
  color: #888888;
  text-align: center;
  margin-bottom: 13px;
}

.yourStyleImagem {
  margin-top: 13px;
  width: 100%;
  opacity: 0.5;
  height: 80px;
  /* color: #fff; */
  background-size: cover;
  background-position: center;
}

.yourStyle .industrial {
  background-image: url(../img/yourStyleIndustrial.svg);
}


.modern {
  background-image: url(../img/yourStyleModern.svg);
}


.classic {
  background-image: url(../img/yourStyleClassic.svg);
}

.yourStyleImagemSpan {
  position: relative;
  top: 30%;
  left: 45%;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
  font-size: 25px;
}



/* your style - termino  */


/* main - termino */


/* footer inicio */

footer {
  background-color: var(--footer-cor-fundo);
  color: var(--footer-cor-texto);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 243px;
  font-size: 12px;
}

footer .footerMapa {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footerContato{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footerContato .footerContatoInfo {
  width: 100%;
  line-height: 26px;
}

footer .footerContato .footerContatoRedeSociais{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

footer .footerContato .footerContatoRedeSociais span{
  text-transform: uppercase;
  margin: 10px 0px 5px;
}

footer .footerContato .footerContatoRedeSociais ul li{
  display: inline-block;
  margin-right: 20px;
}

footer .footerContato .footerContatoRedeSociais ul li a{
  color: var(--footer-cor-texto);
}

/* footer - termino */

  
/**
  *   mobile
  */

@media (max-width: 768px) {

  container {
    width: 100vw;
  }

  /* header - inicio  */
  header {
    width: 100vw;
  }
  
  header nav .marca .logo {
    margin-left: 10px;
  }
  /* header - termino */

  /* main - inicio */
  main {
    margin: 10px;
  }

  /* main ofertas - inicio */
  .ofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 10px 0px;
  }

  .ofertaEsquerda, .ofertaDireita {
    width: auto;
    height: auto;
  }
  

  .detalhesOferta {
    margin-bottom: 10px;
  }
  
  /* main ofertas - termino     */

  .yourStyle {
    width: 100vw;
  }
  /* main - termino */

  /* footer - inicio */
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: auto;
    padding: 10px 0px;
  }

  footer .footerMapa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    height: 100%;
    padding: 10px;
  }

  footer .footerContato {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
  }
  /* footer - termino */
}  
